@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap");


/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #eb5e28;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e76f51;
  }


body{
    padding-bottom: 40px;
}

.navbar-brand{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 24px;
}

.form-label{
    font-family: 'Space Mono', monospace;
    color: black !important;
}

.form-control{
    border-color: #14213d;
}


pre{
    display: inline-table;
	padding-right: 20px;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	font-size: 12px;
	line-height: 20px;
	background: #14213d;
    border-radius: 20px;
}

.text-danger{
    font-family: 'Space Mono', monospace !important;
}


h1, h2, h3, p{
    color: black;
    font-family: 'Space Mono', monospace;
}

h3{
    font-weight: 600;
}

kbd{
    background-color: #001d3d;
    color: #d578fd;
}

.bg-kdbcustom{
    background-color: #ffb703;
    color: white;
}

.btn-dark{
    background-color: #506ff6 !important;
    font-family: 'Space Mono', monospace;
}

.btn-disabled{
    background-color: #14213d !important;
    color: white !important;
    font-family: 'Space Mono', monospace;
}

.text-primary{
    color: black !important;
}

.text-secondary{
    color: black !important;
}

.text-tertiarry{
    color: #caadff;
}

.text-success{
    color: #70e000 !important;
}

mark{
    background-color: blue;
    color: white;
}

.url {
    background-color: #14213d !important;
    color: #d578fd;
}